In [1]:

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = df.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Exited'])
y = df['Exited']

In [5]:
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

In [6]:
X = pd.get_dummies(X, columns=['Geography'], drop_first=True)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [35]:
model = Sequential()
model.add(Dense(units=16, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [36]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [74]:
model.fit(X_train, y_train, batch_size=35, epochs=50)

Epoch 1/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3201 - accuracy: 0.8679
Epoch 2/50
229/229 [==============================] - 0s 1ms/step - loss: 0.3195 - accuracy: 0.8689
Epoch 3/50
229/229 [==============================] - 0s 1ms/step - loss: 0.3192 - accuracy: 0.8684
Epoch 4/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3188 - accuracy: 0.8702
Epoch 5/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3187 - accuracy: 0.8715
Epoch 6/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8681
Epoch 7/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3179 - accuracy: 0.8684
Epoch 8/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3178 - accuracy: 0.8695
Epoch 9/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3177 - accuracy: 0.8705
Epoch 10/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3176 - accuracy: 0.8676
Epoch 11/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3169 - accuracy: 0.8695
Epoch 12/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8696
Epoch 13/50
229/229 [==============================] - ETA: 0s - loss: 0.3164 - accuracy: 0.87 - 1s 2ms/step - loss: 0.3164 - accuracy: 0.8710
Epoch 14/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3164 - accuracy: 0.8702
Epoch 15/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3162 - accuracy: 0.8692
Epoch 16/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8690
Epoch 17/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8687
Epoch 18/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3159 - accuracy: 0.8708
Epoch 19/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8704
Epoch 20/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3153 - accuracy: 0.8709
Epoch 21/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3152 - accuracy: 0.8696
Epoch 22/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3151 - accuracy: 0.8710
Epoch 23/50
229/229 [==============================] - 1s 3ms/step - loss: 0.3150 - accuracy: 0.8701: 0s - loss: 0.3269
Epoch 24/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3146 - accuracy: 0.8691: 0s - loss: 0.3155
Epoch 25/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3145 - accuracy: 0.8715
Epoch 26/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3150 - accuracy: 0.8705
Epoch 27/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3144 - accuracy: 0.8687
Epoch 28/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3141 - accuracy: 0.8712
Epoch 29/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3138 - accuracy: 0.8717
Epoch 30/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3140 - accuracy: 0.8698
Epoch 31/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8715
Epoch 32/50
229/229 [==============================] - 1s 3ms/step - loss: 0.3135 - accuracy: 0.8714
Epoch 33/50
229/229 [==============================] - 1s 3ms/step - loss: 0.3132 - accuracy: 0.8723
Epoch 34/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8694
Epoch 35/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3126 - accuracy: 0.8715
Epoch 36/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3131 - accuracy: 0.8706
Epoch 37/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3123 - accuracy: 0.8717
Epoch 38/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3125 - accuracy: 0.8712: 0s - loss: 0.3190 - accuracy:
Epoch 39/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3122 - accuracy: 0.8714: 0s - loss: 0.3074 - ac
Epoch 40/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3126 - accuracy: 0.8711
Epoch 41/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3118 - accuracy: 0.8727
Epoch 42/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8717
Epoch 43/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3119 - accuracy: 0.8723
Epoch 44/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3114 - accuracy: 0.8731
Epoch 45/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3115 - accuracy: 0.8721
Epoch 46/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3117 - accuracy: 0.8725
Epoch 47/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3115 - accuracy: 0.8720: 0s - loss: 0.3009
Epoch 48/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8721
Epoch 49/50
229/229 [==============================] - 1s 2ms/step - loss: 0.3107 - accuracy: 0.8720
Epoch 50/50
229/229 [==============================] - 0s 2ms/step - loss: 0.3107 - accuracy: 0.8705: 0s - loss: 0.3047 -

In [75]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy*100:.2f}%")

63/63 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8540
Test Accuracy: 85.40%

In [76]:
y_pred = (model.predict(X_test))
y_pred.shape

(2000, 1)

In [77]:
np.set_printoptions(suppress=True)

In [78]:
y_pred[15]

array([0.46225226], dtype=float32)

In [79]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [80]:
ans=np.argmax(y_pred,axis=1) #index of max ke liye

In [81]:
ans

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [82]:
new_customer = np.array([[600, 1, 40, 3, 60000, 2, 1, 1, 50000, 0, 1]])  # Germany: (France=0, Germany=1, Spain=0), Male=1
new_customer = sc.transform(new_customer)  # Scale it

prediction = model.predict(new_customer)
print("Exited" if prediction[0][0] > 0.5 else "Not Exited")

Not Exited